* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
html {
  scroll-behavior: smooth;
  /*Adds smooth scrolling instead of snapping to element*/
}



body {
  background: #080808;
  color: #ffff;
}

.get-started .btn3 {
  /*----prob here------*/
  position: flex;
  margin-top: 0;
  margin-left: 10%;

  /* margin: 0 900px; */
}
.btn.btn3:hover {
  color: #6ec683;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(../images/IMG_4330.JPG);
  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 140px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  
}

nav ul li a {
  color: #ffff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
 
}

#sidemenu{
   scroll-behavior: smooth;

}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #6ec683;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
}
.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.header-text h1 span {
  color: #6ec683;
}

/*------about-------*/

#about {
  padding: 80px 0;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 40px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #ffff;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px; /*top, left, bottom */
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #6ec683;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #6ec683;
  font-size: 17px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/*----------------------hobbies----------------------*/
#hobbies {
  padding: 30px 0;
}

.hobbies-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.hobbies-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 30px;
  transition: background 0.5s, transform 0.5s;
}

.hobbies-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.hobbies-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.hobbies-list div p {
  font-size: 16px;
}

.hobbies-list div a {
  text-decoration: none;
  color: #ffff;
  font-size: 17px;
  margin-top: 20px;
  display: inline-block;
}

.hobbies-list div:hover {
  background: #6ec683;
  transform: translateY(-10px);
  color: #080808;
}

/*--------------------PORTFOLIO---------------------------*/
#portfolio {
  padding: 50px 0;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.project {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
}


.project img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #6ec683);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 20px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 600;
  margin-bottom: 20px;
}
.project:hover img {
  transform: scale(1.1);
}

.project:hover .layer {
  height: 100%;
}
.project:nth-child(1){
   transition-delay: 200ms;
}
.project:nth-child(2){
   transition-delay: 400ms;
}
.project:nth-child(3){
   transition-delay: 600ms;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #6ec683;
  padding: 14px 50px;
  font-size: 20px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}

.btn:hover {
  background: #6ec683;
}
/*-----contact------------------*/
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color: #6ec683;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons {
  margin-top: 30px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  display: inline-block;
  color: #fff;
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: #6ec683;
  transform: translateY(-5px);
}
.btn.btn2 {
  display: inline-block;
  background: #6ec683;
}
.btn.btn3 {
  display: inline-block;
  background: #161717;
  outline-style: none;
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #fbfbfbfe;
  padding: 15px;
  margin: 15px 0;
  color: #000000;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2 {
  padding: 14px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

/* ----------------------MEDIA QUERY-------- */

nav .fa-solid {
  display: none;
}
@media only screen and (max-width: 600px) {
  #header {
    background-image: url(../images/IMG_4330.JPG);
  }
  .header-text {
    margin-top: 100%;
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  nav .fa-solid {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: #6ec683;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .sub-title {
    font-size: 40px;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 {
    font-size: 14px;
  }
  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }

}
#msg{
  color: #61b752;
  margin-top: -40px;
  display: block;
}
